.nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 200%;
    justify-content: center;
}
.div1{
    display: flex;
    gap: 5px;
}
.header{
    background-color:rgb(203, 198, 198);
    position: fixed;
    width: 100%;
    margin-top: -10%;
    box-sizing: border-box;
}
#section{
display: flex;
margin-top: 10%;
}
#section{
    display: flex;
}
.div2{
    display: flex;
}
.divsect2{
    display: flex;
    gap: 50px;

}
body{
    background-color: rgb(236, 235, 233);
}
.img{
    border-radius: 10px;
    margin-left: 50%;
}
.img2{
    margin-left: 10%;

}
.machine{
    border-radius: 10px;
    border: 1px solid rgb(239, 28, 28);
    width: 300px;
    height: 300px;
    padding: 10px;
}
.analysis{
    border-radius: 10px;
    border: 1px solid rgb(239, 28, 28);
    width: 300px;
    height: 300px;
    padding: 10px;
}
.robotic{
    border-radius: 10px;
    border: 1px solid rgb(239, 28, 28);
    width: 300px;
    height: 300px;
    padding: 10px;
}
.h1{
    text-align: center;
}
.a{
    text-decoration: none;
    color: rgb(211, 52, 52);
    padding-top: 20px;
}
.a1{
    text-decoration: none;
    color: rgb(211, 52, 52);
    padding-top: 20px;
}
.a2{
    text-decoration: none;
    color: rgb(211, 52, 52);
    padding-top: 20px;
}
.a3{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    background-color: red;
    border-radius: 10px;
    border: solid;
    width: 100px;
    height:20px ;
    margin-top: 2%;
}
.div2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.a4{
    text-decoration: none;
    color: rgb(238, 33, 33);
    padding: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border: solid;
    width: 100px;
    height:20px ;
    margin-top: 2%;
    border-color: red;
}
.h1{
    text-align: center;
}
.div3{
    display: flex;
    gap: 50px;
    align-items: center;
}
.h1{
    text-align: center;
}
.div4{
    display: flex;
    gap: 100px;
    align-items: center;
}
.dernier{
    display: flex;
    gap: 50px;
    align-items: center;
}
.btn{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    background-color: red;
    border-radius: 10px;
    border: solid;
    width: 100px;
    height:20px ;
}
.footer{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-left: 700px;
}
.footer1{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    background-color: rgb(192, 187, 187);
}

